<app-edit-modal 
        [name]="locationItem.name" 
        [id]="locationItem.locationId"
        [type]="locationItem"
        *ngIf="editing"
        (close)="onHandleClose()"></app-edit-modal>

<div class="d-flex">
    <div class="mr-auto p-2">{{locationItem.name}}</div>
    <div class="p-2">
            <a style="cursor: pointer" class="link-secondary" (click)="onEditLocation()"> Szerkesztés </a>
    </div>
    <div class="p-2">
            <a style="cursor: pointer" class="link-danger" (click)="onDeleteLocation()"> Törlés </a>
    </div>
</div>
