<table class="table table-bordered">

    <thead>
        <tr>
          <th scope="col" *ngFor="let day of days">{{day}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hour of lessonNumbers">
          <td *ngFor="let day of days;let i = index;">
              <app-lesson 
              [lesson]="getLesson(i+1,hour)"
              (lessonChanged) = "onChangeLesson($event)"
              (closed)="onHandleClose()"
              (deleteLesson)="onDeleteLesson($event)"
              ></app-lesson>
          </td>
        </tr>
    </tbody>
</table>
