<div id='login-container' >
  <form id='login-form'  [formGroup]="userForm" class='form-group'>          
      <div id="login-text" >Regisztáció</div>
      
      <input placeholder="felhasználónév" type="text" formControlName="UserName" >
  
      <input type="password" formControlName="Password" placeholder="jelszó" (keyup.enter)="register()">

      <label for="rememberme">Adatok megjegyzése</label>
      <input id="rememberme" type="checkbox" formControlName="RememberMe">
  
  </form>
      <button id="login-btn" type="submit" (click)="register()">Regisztrálok</button>
</div> 